*{margin: 0px;padding: 0px;}
/*
font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;
*/

body{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    background-color:#3C3F41;
    color:#626262; 
    display: block;
        
}
.wraper{width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    background-color:#fff;
   
    
}
span{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    display: block;
    margin: 10px 0px;
    
}
h1{
    font-family: 'Playfair Display', serif;
    padding: 10px 0px;
    font-size: 30px;
}
p{
    font-family: 'Playfair Display', serif;
    padding: 30px 0px;
    text-align: justify;
    font-size: 14px;
    line-height: 18px;
}

/*start header*/
header{}
.header{
    overflow: hidden;
}
.logo{
    float: left;
    width: 20%;
}
.logo img{
    width: 119px;
    height: 23px;
    padding: 67px 60px;
    
}
.nav_bar{
    float: right;
    width: 65%;
}
.nav_bar ul{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-weight:400;
    float: right;
}
.nav_bar ul li{
    float: left;
    list-style: none;
    
}
.nav_bar ul li a{
    text-decoration: none;
    color:#626262; 
    padding: 75px 60px;
    display: block;
    transition: 1s;
}
.nav_bar ul li a:hover{
    transform: scale(1.1)
}

/*end header*/

/*start banner*/
#banner{}
.banner{
    width: 90%;
    margin: 0px auto;
    overflow: hidden;
}
.banner img{
    width: 100%;
}
/*end banner*/

/*start photodairy*/
#photodairy{
    
}
.photodairy{
    width: 92%;
    margin: 0px auto;
    overflow: hidden;
}
.photo_text{
    padding: 100px 80px;
}
.photo_text h1{
    
}
.photo_text p{
    
}

/*end photodairy*/

/* start lifestyle*/

.lifestyle_contain{
    width: 96%;
    margin: 0px auto;
    overflow: hidden;
}
.lifestyle{
    
    overflow: hidden;
    margin: 0px 65px;
}
.single_lifestyle{
    width:  44.111%;
    padding: 30px;
    float: left;
    
}
.single_lifestyle img{
    width: 100%;
}


/* end lifestyle*/

/*start form*/

.form_contain{
    background-color: #F0F0F0;
    width: 100%;
    text-align: center;
    padding: 66px 0px;
    overflow: hidden;
}
.form{
    padding: 35px 0px;
}
.form form{
    padding: 35px 0px;
}
.form h1{
    padding: 35px 0px;
}
.form input{
    border:none;
    border-bottom: 1px solid #000;
    background-color: #F0F0F0;
    width: 390px;
    position: relative;
    padding: 10px 0px;
}
.form button{
    border: none;
    position: absolute;
    margin:10px 0px 0px -33px;
    background: none;
    font-size: 14px;
    font-weight: 400;
    width: 32px;
}
.form button img{
    width: 100%;
}
/*end form*/
/*start load more*/
.load{
    text-align: center;
}
.load button{
    font-family: 'Playfair Display', serif;
    width: 165px;
    height: 60px;
    text-align: center;
    background: white;
    font-size: 20px;
    border: 1px solid #CECECE;
    font-weight: 400;
    margin:130px 0px;
    overflow: hidden;
}
/*end load more*/
/*start footer*/
footer{
    
}
.footer{
    background-color: #F0F0F0;
    color: #202020;
    min-height: 20px;
    padding: 0px 60px;
    display: block;
    font-weight:400;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
}
.left_footer{
    float: left;
    width: 40%;
    display: block;
}
.left_footer ul{
    padding: 20px 0px;
}
.left_footer ul li{
    list-style: none;
    float: left;
}
.left_footer ul li a{
    color: #353434;
    padding: 10px;
    text-decoration: none;
}
.left_footer ul li a:hover{
    font-weight: bold;
}

.right_footer{
    float: right;
    display: block;
    width: 30%;
}
.right_footer ul{
    float: right;
    padding: 20px 0px;
}
.right_footer ul li{
    list-style: none;
    float: left;
}
.right_footer ul li a{
    color: #353434;
    padding: 10px;
    text-decoration: none;
}
.right_footer ul li a:hover{
    font-weight: bold;
}
/*end footer*/


